<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>payment_everypay</name>
    <displayName><![CDATA[Everypay Payments]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Accept credit/debit card payments with Everypay payment gateway]]></description>
    <author><![CDATA[Everypay]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>